.idea
.vs

cmake-build-debug
cmake-build-release
Debug
Release
x64/*
CMakeFiles
Nebula3.dir
nrt
Resources/RenderGraphs
RelWithDebInfo/

*.spv
*.vcxproj*
.DS_Store
CMakeCache.txt
cmake_install.cmake
*.sln
nbl.json
compile.bat
imgui.ini
*.metallib

External/FidelityFX-SDK-2.1.1
External/FidelityFX-SDK-v1.1.4
External/freetype2

OutOfSource
