[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json
[submodule "External/vma"]
	path = External/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/imnodes"]
	path = External/imnodes
	url = https://github.com/Nelarius/imnodes.git
[submodule "Tools/rg-vis"]
	path = Tools/rg-vis
	url = https://github.com/Andromeda08/nbl-rg-vis
[submodule "External/gemmi"]
	path = External/gemmi
	url = https://github.com/project-gemmi/gemmi.git
[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "External/ktx"]
	path = External/ktx
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "External/fastgltf"]
	path = External/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "External/SDL_ttf"]
	path = External/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "External/mikktspace"]
	path = External/mikktspace
	url = https://github.com/mmikk/MikkTSpace.git
[submodule "External/DLSS"]
	path = External/DLSS
	url = https://github.com/NVIDIA/DLSS.git
[submodule "External/meshopt"]
	path = External/meshopt
	url = https://github.com/zeux/meshoptimizer
